<!-- templates/code_input.html -->

{% extends "base.html" %}

{% block title %}
  - Code Input
{% endblock title %}

{% block content %}
<style>
    .code {
      min-height: calc({{ num_lines }}em * 1.5 + 2 * 1em);
      min-width: calc({{ max_chars }}ch + 4 * 2em);
    }
</style>
<form>
    <textarea
      class="code"
      name="code"
      placeholder="Paste your Python code here"
      style="height: 300px;"
    >{{ code }}
    </textarea>
    <div>
        <button formmethod="post" formaction="{{ url_for('reset_session') }}" class="btn btn-primary">
          Reset Session ♻️
        </button>

        <button formmethod="post" formaction="{{ url_for('save_code') }}" class="btn btn-primary"> 
          Save Code 💾
        </button>

        <button formmethod="post" formaction="{{ url_for('save_style') }}" class="btn btn-primary">
            Next ➡️
        </button>

        <button formmethod="get" formaction="{{ url_for('tutorial_raw') }}" class="btn btn-primary">
            Tutorial ❓
        </button>

        <button formmethod="post" formaction="{{ url_for('load_github_file') }}" type="submit" class="btn btn-primary">     
            Load from GitHub 🚀
        </button>

        <input type="url" name="github_url" placeholder="Enter GitHub file URL">
      </div>
      
</form>
{% endblock content %}