<!-- templates/code_input.html -->

{% extends "base.html" %}

{% block title %}
  - Code Input
{% endblock title %}

{% block content %}
<style>
    .code {
      min-height: calc({{ num_lines }}em * 1.5 + 2 * 1em);
      min-width: calc({{ max_chars }}ch + 4 * 2em);
    }

    .form-control {
      resize: none;
    }
</style>
<form>
      <div class="d-flex align-items-center justify-content-between position-relative">
        
        <div class="align-self-start">
          <input type="url" class="form-control" name="github_url" style="width: 464px; height: 48px; text-align: left;" placeholder="https://github.com/...">
        </div>
        
        <div class="align-self-start">
          <button formmethod="post" formaction="{{ url_for('load_github_file') }}" type="submit" class="btn btn-outline-primary" style="text-align: right;">     
            Import Code
          </button>
        </div>

      </div>

    <div class="mb-3" style="margin-top: 8px;">
      <textarea class="form-control" name="code" placeholder="Import your code from GitHub, or past it here..." id="floatingTextarea" style="height: 475px">{{ code }}</textarea>
    </div>

    <div class="d-flex align-items-center justify-content-between position-relative" style="margin-top: -8px;">

      <div class="align-self-start">
        <button formmethod="post" formaction="{{ url_for('reset_session') }}" class="btn btn-outline-primary btn-sm">
          Reset
        </button>
      </div>
    
      <div class="align-self-start">
        <button formmethod="post" formaction="{{ url_for('save_style') }}" class="btn btn-primary">
          Next
        </button>
      </div>

    </div>
      
</form>
{% endblock content %}